@{
    ViewData["Title"] = "Password Recovery";
}

<div class="text-center mt-5">
    <h1 class="display-4">Password Recovery</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-body">
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">@ViewBag.Success</div>
                    }
                    <form method="post" action="/Account/PasswordRecovery">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required />
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Send Recovery Email</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
