/* Color Palette */
:root {
    --true-blue: #0080CC;
    --jet: #383839ff;
    --persian-orange: #FF8033;
    --white: #FFFFFFff;
    --picton-blue: #56A6D5ff;
    --soft-blue: #F0F8FF; /* Soft blue for background */
    --red: #ff0000; /* Red color for delete button */
    --darker-blue: #0056b3; /* Update the gray to light blue */
}

/* Custom login form styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #E6F7FF; /* Light blue background */
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: var(--darker-blue) !important;
}

.card-body {
    padding: 30px;
}

.user-management-title {
    color: white;
}

.btn-primary {
    background-color: var(--persian-orange);
    border-color: var(--persian-orange);
}

    .btn-primary:hover {
        background-color: hsla(29, 48%, 45%, 1);
        border-color: hsla(29, 48%, 45%, 1);
    }

.form-check-label {
    font-size: 0.875rem;
}

a.float-right {
    font-size: 0.875rem;
    color: var(--persian-orange);
    text-decoration: none;
}

    a.float-right:hover {
        color: hsla(29, 48%, 45%, 1);
    }


.aqua-button {
    font-size: 1em;
    color: var(--jet); /* Text color */
    font-weight: 500;
    background-color: var(--picton-blue); /* Background color */
    background-image: linear-gradient(180deg, var(--picton-blue) 30%, hsla(200, 100%, 85%, 1) 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
    padding: 0.4em 1.25em; /* Adjust padding for smaller button */
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 1em rgba(0, 0, 0, 0.1), 0 0.5em 1em rgba(0, 0, 0, 0.1), 0 0.25em 0.5em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 1em rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 15px;
}

    .aqua-button span {
        display: inline-flex;
        align-content: center;
        align-self: center;
        filter: drop-shadow(0 1px 0 rgba(44, 62, 80, 0.8));
    }

    .aqua-button svg {
        height: 1em;
        width: auto;
        margin-left: .33em;
    }

    .aqua-button .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(.75em) translateX(-50%);
        opacity: 0;
        margin: 0;
        font-size: 2em;
        mix-blend-mode: overlay;
        transition: all 0.33s ease;
    }

    .aqua-button:active span,
    .aqua-button:focus span {
        transform: translateY(-1em);
        opacity: 0;
        filter: blur(5px);
    }

    .aqua-button:active .spinner,
    .aqua-button:focus .spinner {
        transform: translateY(-0.5em) translateX(-50%);
        opacity: 1;
    }

    .aqua-button:hover,
    .aqua-button:active,
    .aqua-button:focus {
        outline: none;
        box-shadow: 0 -0.2em 1.5em hsla(240, 70%, 80%, 0.3), 0 0.5em 2em hsla(200, 70%, 80%, 0.5), 0 0.25em 0.5em -0.2em hsl(200, 90%, 70%), 0 0.25em 1em hsla(200, 20%, 30%, 0.2), inset 0 -2px 2px rgba(255, 255, 255, 0.2);
        background-position: center calc(45% - 0.75em);
    }

.orange-button {
    font-size: 1em;
    color: var(--white); /* Initial text color */
    font-weight: 500;
    background-color: var(--persian-orange);
    background-image: linear-gradient(180deg, hsla(29, 48%, 65%, 1) 30%, transparent 70%);
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: 100% 200%;
    padding: 0.75em 2.5em; /* Increased padding for wider button */
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em hsla(29, 48%, 55%, 0.46), 0 0.25em 0.75em hsla(29, 48%, 55%, 0.3);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px 0 20px;
}

    .orange-button span {
        display: inline-flex;
        align-content: center;
        align-self: center;
        filter: drop-shadow(0 1px 0 hsla(29, 48%, 15%, 1));
        transition: color 0.15s ease; /* Add transition for text color */
    }

    .orange-button:hover span {
        color: var(--jet); /* Change text color on hover */
    }

.green-button {
    font-size: 1em;
    color: var(--white); /* Text color */
    font-weight: 500;
    background-color: var(--true-blue); /* Green color */
    background-image: linear-gradient(180deg, var(--true-blue) 30%, hsla(216, 31%, 40%, 1) 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
    padding: 0.4em 1.25em; /* Adjust padding for smaller button */
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 1em rgba(0, 0, 0, 0.1), 0 0.5em 1em rgba(0, 0, 0, 0.1), 0 0.25em 0.5em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 1em rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 15px;
    text-decoration: none;
    margin: 5px 0 20px;
}

    .green-button span {
        display: inline-flex;
        align-content: center;
        align-self: center;
        filter: drop-shadow(0 1px 0 rgba(44, 62, 80, 0.8));
    }

    .green-button svg {
        height: 1em;
        width: auto;
        margin-left: .33em;
    }

    .green-button .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(.75em) translateX(-50%);
        opacity: 0;
        margin: 0;
        font-size: 2em;
        mix-blend-mode: overlay;
        transition: all 0.33s ease;
    }

    .green-button:active span,
    .green-button:focus span {
        transform: translateY(-1em);
        opacity: 0;
        filter: blur(5px);
    }

    .green-button:active .spinner,
    .green-button:focus .spinner {
        transform: translateY(-0.5em) translateX(-50%);
        opacity: 1;
    }

    .green-button:hover,
    .green-button:active,
    .green-button:focus {
        outline: none;
        box-shadow: 0 -0.2em 1.5em hsla(216, 70%, 60%, 0.3), 0 0.5em 2em hsla(216, 70%, 60%, 0.5), 0 0.25em 0.5em -0.2em hsl(216, 90%, 50%), 0 0.25em 1em hsla(216, 20%, 30%, 0.2), inset 0 -2px 2px rgba(255, 255, 255, 0.2);
        background-position: center calc(45% - 0.75em);
    }

        .green-button:hover span {
            color: var(--jet); /* Change text color on hover */
        }

.content {
    flex: 1;
}

/* Custom rounded button styling */
.rounded-button {
    font-size: 1em;
    color: var(--white); /* Text color */
    font-weight: 500;
    padding: 0.75em 2.5em; /* Increased padding for wider button */
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    .rounded-button:hover {
        color: var(--jet); /* Change text color on hover */
    }

/* Specific colors for lock/unlock buttons */
.lock-button {
    background-color: var(--persian-orange); /* Red color */
    background-image: linear-gradient(180deg, hsla(29, 48%, 65%, 1) 30%, transparent 70%);
}

.unlock-button {
    background-color: var(--true-blue); /* Green color */
    background-image: linear-gradient(180deg, hsla(216, 80%, 60%, 1) 30%, transparent 70%);
}

/* Custom button styles */

.custom-button {
    font-size: 1em;
    color: var(--white);
    font-weight: 500;
    padding: 0.75em 2.5em;
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em hsla(0, 50%, 50%, 0.46), 0 0.25em 0.75em hsla(0, 40%, 40%, 0.3);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    .custom-button:hover {
        color: var(--jet);
    }

.edit-button {
    background-color: var(--persian-orange);
    background-image: linear-gradient(180deg, var(--persian-orange) 30%, #FFAA33 70%);
    margin: 20px 0;
    color: var(--white);
    border: 2px solid var(--persian-orange);
    padding: 0.75em 2.5em;
    border-radius: 2em;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
    position: relative;
    transition: background-color 0.3s, background-image 0.3s, box-shadow 0.3s;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.edit-button:hover {
    background-color: #cc6d1a;
    background-image: linear-gradient(180deg, #cc6d1a 30%, #e57c23 70%);
    color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-button-profile {
    background-color: var(--persian-orange);
    background-image: linear-gradient(180deg, var(--persian-orange) 30%, #FFAA33 70%);
    margin: 2px 0; /* Remove margin for better alignment */
    color: var(--white);
    border: 2px solid var(--persian-orange);
    padding: 0.5em 1.5em; /* Adjust padding for a better size */
    border-radius: 2em;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
    position: relative;
    transition: background-color 0.3s, background-image 0.3s, box-shadow 0.3s;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    .edit-button-profile:hover {
        background-color: #cc6d1a;
        background-image: linear-gradient(180deg, #cc6d1a 30%, #e57c23 70%);
        color: var(--white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }



.delete-button {
    background-color: var(--red);
    background-image: linear-gradient(180deg, #d73a2e 30%, transparent 70%);
    margin: 20px 0;
    padding: 0.75em 2.5em; /* Match the padding of the edit button */
    border: none;
    border-radius: 2em; /* Match the border-radius of the edit button */
    color: white;
    font-size: 1em; /* Match the font-size of the edit button */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
}

    .delete-button:hover {
        background-color: #b71c1c; /* Slightly darker red */
        background-image: linear-gradient(180deg, #c62828 30%, transparent 70%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
    }

.save-button {
    background-color: var(--persian-orange);
    background-image: linear-gradient(180deg, var(--persian-orange) 30%, #FFAA33 70%);
    margin: 0; /* Remove margin for better alignment */
    color: var(--white);
    border: 2px solid var(--persian-orange);
    padding: 0.5em 1.5em; /* Adjust padding for a better size */
    border-radius: 2em;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
    position: relative;
    transition: background-color 0.3s, background-image 0.3s, box-shadow 0.3s;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    .save-button:hover {
        background-color: #cc6d1a;
        background-image: linear-gradient(180deg, #cc6d1a 30%, #e57c23 70%);
        color: var(--white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.close-button, .submit-button {
    color: var(--white); /* Text color */
    font-weight: 500;
    padding: 0.75em 2.5em; /* Increased padding for wider button */
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
    position: relative;
    transition: background-color 0.3s, background-image 0.3s, box-shadow 0.3s;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.close-button {
    background-color: #6c757d;
    background-image: linear-gradient(180deg, #6c757d 30%, #7d838b 70%);
}

.submit-button {
    background-color: #ff6600;
    background-image: linear-gradient(180deg, #ff6600 30%, #ff944d 70%);
}

    .close-button:hover, .submit-button:hover {
        opacity: 0.8;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
    }

.export-pdf-button {
    background-color: var(--red);
    background-image: linear-gradient(180deg, #d73a2e 30%, transparent 70%);
    margin: 10px 20px 20px;
    padding: 0.75em 2.5em; /* Match the padding of the edit button */
    border: none;
    border-radius: 2em; /* Match the border-radius of the edit button */
    color: white;
    font-size: 1em; /* Match the font-size of the edit button */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
}

    .export-pdf-button:hover {
        background-color: #b71c1c; /* Slightly darker red */
        background-image: linear-gradient(180deg, #c62828 30%, transparent 70%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
    }

.import-button {
    font-size: 1em;
    color: var(--white); /* Text color */
    font-weight: 500;
    background-color: #4CAF50; /* Green color */
    background-image: linear-gradient(180deg, #4CAF50 30%, #388E3C 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
    padding: 0.75em 2.5em; /* Adjust padding for better button size */
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 20px 20px 29px;
}

    .import-button:hover,
    .import-button:active,
    .import-button:focus {
        outline: none;
        box-shadow: 0 -0.2em 1.5em rgba(76, 175, 80, 0.3), 0 0.5em 2em rgba(76, 175, 80, 0.5), 0 0.25em 0.5em -0.2em hsl(120, 60%, 30%), 0 0.25em 1em rgba(76, 175, 80, 0.2), inset 0 -2px 2px rgba(255, 255, 255, 0.2);
        background-position: center calc(45% - 0.75em);
        background-color: #388E3C; /* Slightly darker green on hover */
        background-image: linear-gradient(180deg, #388E3C 30%, #2E7D32 70%);
    }


.export-button {
    font-size: 1em;
    color: var(--white); /* Text color */
    font-weight: 500;
    background-color: #28a745; /* Green color */
    background-image: linear-gradient(180deg, #28a745 30%, #218838 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
    padding: 0.75em 2.5em; /* Adjust padding */
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 10px 0 20px;
}

    .export-button:hover,
    .export-button:active,
    .export-button:focus {
        outline: none;
        box-shadow: 0 -0.2em 1.5em rgba(40, 167, 69, 0.3), 0 0.5em 2em rgba(40, 167, 69, 0.5), 0 0.25em 0.5em -0.2em hsl(120, 60%, 30%), 0 0.25em 1em rgba(40, 167, 69, 0.2), inset 0 -2px 2px rgba(255, 255, 255, 0.2);
        background-position: center calc(45% - 0.75em);
        background-color: #218838; /* Slightly darker green on hover */
        background-image: linear-gradient(180deg, #218838 30%, #1e7e34 70%);
    }


.lock-button {
    background-color: var(--persian-orange);
    background-image: linear-gradient(180deg, hsla(29, 48%, 65%, 1) 30%, transparent 70%);
}

.unlock-button {
    background-color: var(--true-blue);
    background-image: linear-gradient(180deg, hsla(216, 80%, 60%, 1) 30%, transparent 70%);
}

.text-field {
    display: inline-block;
}

.input-field {
    display: none;
}

footer {
    background-color: var(--white);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

.btn-margin {
    margin-bottom: 10px;
}

/* Dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--jet); /* Change this color as needed */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: var(--persian-orange);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--persian-orange); /* Change this color as needed */
}

.newClient {
    width: 350px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 20px 0 30px 0;
    font-size: 1.00rem; /* Adjust the font size as needed */
    background-color: var(--true-blue); /* Initial color */
    background-image: linear-gradient(180deg, var(--true-blue) 30%, hsla(216, 100%, 35%, 1) 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 1em rgba(0, 0, 0, 0.1), 0 0.5em 1em rgba(0, 0, 0, 0.1), 0 0.25em 0.5em -0.2em rgba(0, 0, 0, 0.2), 0 0.25em 1em rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.5s ease, background-image 0.5s ease, box-shadow 0.5s ease, color 0.5s ease; /* Adjusted transition for smooth color change */
    outline: none;
    color: #FFFFFF;
}

    .newClient:hover,
    .newClient:focus {
        outline: none;
        box-shadow: 0 -0.2em 1.5em hsla(216, 70%, 60%, 0.3), 0 0.5em 2em hsla(216, 70%, 60%, 0.5), 0 0.25em 0.5em -0.2em hsl(216, 90%, 50%), 0 0.25em 1em hsla(216, 20%, 30%, 0.2), inset 0 -2px 2px rgba(255, 255, 255, 0.2); /* Adjusted box-shadow */
        background-color: #0059b3; /* Slightly darker blue on hover */
        background-image: linear-gradient(180deg, #0059b3 30%, #003366 70%); /* Adjusted gradient on hover */
        color: #FFFFFF; /* Ensure text color stays white on hover */
    }



.custom-logo {
    width: 450px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.custom-logo-login {
    width: 450px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: -90px;
    margin-bottom: -50px;
}

.custom-welcome-text {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: normal; /* Adjust font weight if necessary */
    text-align: left; /* Align text to the left */
    margin-left: -66px; /* Optional: Add some margin to the left for better alignment */
}


.action-column {
    background-color: transparent !important;
    border-left: none !important; /* Remove left border if present */
    border-right: none !important; /* Remove right border if present */
    vertical-align: middle; /* Ensure the button is centered vertically */
}

/* Adjusting the table row and cell styles to ensure consistent appearance */
.table-bordered tr td {
    border-right: none; /* Remove right border for all cells */
}

    .table-bordered tr td:last-child {
        border-right: 1px solid #dee2e6; /* Add border to the last cell to maintain table structure */
    }

.table-responsive {
    overflow-x: auto;
}

/* Modal and Offcanvas Background Color */
.modal-content, .offcanvas-body {
    background-color: var(--soft-blue); /* Soft blue background */
}


.hidden-table {
    display: none !important;
}

.hidden {
    display: none !important;
}

.hidden-content {
    display: none;
}

